.form-group {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;

}
#activity {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}
.error {
    color: red;
}
.headers {
    color: grey;
}
.welcomeLabel {
    font-size: 130%;
    font-weight: bold;
}
.buttonLink {
    background-color: #212529;

}
.headerClass {
    text-align: center;
}
.columnClass {
    text-align: center;
}
#addCommentContainer {
    margin: 10px 0 10px 0;
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
}
#img {
    margin-top: 10%;
    border:5px solid black;
}