<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <h:outputStylesheet library="webjars" name="bootstrap/4.3.1/css/bootstrap.min.css"/>
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css"/>
        <h:outputScript library="webjars" name="jquery/3.1.1/jquery.min.js"/>
        <h:outputScript library="webjars" name="bootstrap/4.3.1/js/bootstrap.min.js"/>
        <h:outputStylesheet library="css" name="style.css"/>

        <title>Accueil association</title>
    </h:head>
    <h:body>
        <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="homeVisitor.xhtml">Accueil</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="livretdorVisiteur.xhtml">Livret d'or</a>
                    </li>
                </ul>
            </div>
            <h:form>
                <h:commandButton styleClass="btn navbar-btn btn-light navbar-right" value="Se connecter" action="login"/>
            </h:form>
        </div>

        <br/>
        <br/>
        <h:messages globalOnly="true"/>
        <div class="container-fluid" style="margin: 30px 0 0 0">
            <div class="row">
                <div class="col-6" style="width: 70%; margin-left: 10px">
                    <br/>
                    <br/>
                    <h:outputText id="name" styleClass="welcomeLabel" value="Bienvenue sur la page d'accueil de l'association #{associationBean.name}, visiteur !"/>
                    <br/>
                    <br/>
                    <h3 class="headers">Membres :</h3>
                    <h:dataTable style="width: 50%" styleClass="table table-hover table-striped" var="member" value="#{associationBean.members}">
                        <h:column headerText="Nom d'utilisateur">
                            <h:outputText value="#{member.fullName}" />
                        </h:column>
                    </h:dataTable>
                    <br/>
                    <h3 class="headers">Activité de l'association :</h3>
                    <p id="activity">#{associationBean.activity}</p>
                </div>
                <div class="col-5">
                    <h:graphicImage id="img" value = "https://images.yourstory.com/cs/wordpress/2018/03/coding-job.png?fm=png" width="800" height="400"/>
                </div>

            </div>

        </div>

    </h:body>

</html>
