<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <h:outputStylesheet library="webjars" name="bootstrap/4.3.1/css/bootstrap.min.css"/>
    <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css"/>
    <h:outputScript library="webjars" name="jquery/3.1.1/jquery.min.js"/>
    <h:outputScript library="webjars" name="bootstrap/4.3.1/js/bootstrap.min.js"/>
    <h:outputStylesheet library="css" name="style.css"/>

    <title>Livret d'or</title>
</h:head>
<h:body>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="home.xhtml">Accueil</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
        <h:form>
            <h:commandButton styleClass="btn navbar-btn btn-danger navbar-right" value="Se déconnecter" action="#{userBean.logout}"/>
        </h:form>
    </div>

    <div class="container" style="margin-top: 60px">

        <h3>Bienvenue au livret d'or, <i>#{userBean.currentUser.username}</i> !</h3>
        <br/>
        <br/>
        <h3 class="headers">Liste des commentaires :</h3>

        <h:dataTable value="#{associationBean.comments}" var="com"
                    styleClass="table table-hover table-striped"
                    headerClass="headerClass"
                    columnClasses="columnClass, columnClass, columnClass, columnClass">
            <h:column>
                <!-- column header -->
                <f:facet name="header">Utilisateur</f:facet>
                <!-- row record -->
                <p>#{com.commentator.fullName}</p>
            </h:column>

            <h:column>
                <!-- column header -->
                <f:facet name="header">Commentaire</f:facet>
                <!-- row record -->
                <p>#{com.comment}</p>
            </h:column>

            <h:column>
                <f:facet name="header">Score</f:facet>
                <p id="score">#{com.score}</p>
            </h:column>

            <h:column>
                <f:facet name="header">Appréciation</f:facet>
                <h:form>
                    <h:commandButton styleClass="btn btn-success" value="up" action="#{associationBean.upVote(com.id)}"/>
                    <h:commandButton styleClass="btn btn-danger" value="down" action="#{associationBean.downVote(com.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>


        <div id="addCommentContainer" class="container">
            <h3 class="headerClass">Ajouter un commentaire :</h3>

            <br/>
            <br/>

            <h:form>
                <div class="row">
                    <div class="col-6 " style="text-align: center">
                        <h6>Merci de confirmer votre nom d'utilisateur :</h6>
                        <h:selectOneMenu value="#{commentBean.usernameCommentator}">
                            <f:selectItems value="#{commentBean.users}" var="user"
                                           itemValue="#{user}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="col-6" style="text-align: center">
                        <h6>Commentaire :</h6>
                        <h:inputTextarea value="#{commentBean.commentText}" cols="25" rows="3" required="true"/>
                    </div>
                </div>
                <br/>
                <br/>

                <div class="row justify-content-center">
                    <h:commandButton styleClass="btn btn-primary" value="Ajouter" action="#{commentBean.addComment}"/>
                </div>

            </h:form>

        </div>

    </div>

</h:body>
</html>
