<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <h:outputStylesheet library="webjars" name="bootstrap/4.3.1/css/bootstrap.min.css"/>
    <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css"/>
    <h:outputScript library="webjars" name="jquery/3.1.1/jquery.min.js"/>
    <h:outputScript library="webjars" name="bootstrap/4.3.1/js/bootstrap.min.js"/>
    <h:outputStylesheet library="css" name="style.css"/>
    <title>Connexion</title>

</h:head>

<h:body>

    <div class="container">
        <br/>
        <br/>
        <div class="form-group">
            <h:form id="loginForm">
                <h3>Se connecter</h3>
                <br/>
                <h:message for="login" styleClass="error"/>
                <br/>
                Nom d'utilisateur :
                <h:inputText styleClass="form-control" id="login" value="#{formLoginBean.userId}" required="true" placeholder="Nom d'utilisateur"/>

                <br/>

                Mot de passe :
                <h:inputSecret styleClass="form-control" value="#{formLoginBean.userPassword}" required="true" placeholder="Mot de passe"/>

                <br/>

                <div class="row justify-content-center">
                    <div class="col-3">
                        <h:commandButton styleClass="btn btn-primary" value="Se connecter" action="#{formLoginBean.login}"/>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-secondary" href="homeVisitor.xhtml">Annuler</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <a style="margin-left: 13px" class="btn btn-link" href="register.xhtml">S'inscrire</a>
                    </div>
                </div>

            </h:form>

        </div>

    </div>
</h:body>
</html>