<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <h:outputStylesheet library="webjars" name="bootstrap/4.3.1/css/bootstrap.min.css"/>
    <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css"/>
    <h:outputScript library="webjars" name="jquery/3.1.1/jquery.min.js"/>
    <h:outputScript library="webjars" name="bootstrap/4.3.1/js/bootstrap.min.js"/>
    <h:outputStylesheet library="css" name="style.css"/>
    <title>S'inscrire</title>

</h:head>

<h:body>

    <div class="container">
        <br/>
        <br/>
        <div class="form-group">
            <h:form id="registerForm">
                <h3>S'inscrire</h3>
                <h:message for="fullName" styleClass="error"/>

                <br/>

                <h6>Nom complet</h6>
                <h:inputText styleClass="form-control" id="fullName" value="#{formRegisterBean.fullName}" required="true"
                               requiredMessage="Merci de saisir votre nom complet"
                               placeholder="Mot de passe"/>
                <h:message for="password" styleClass="error"/>


                <br/>

                <div class="row justify-content-center">
                    <h6 style="margin-right: 5px;">Sexe : </h6>
                    <h:selectOneMenu value="#{formRegisterBean.sex}">
                        <f:selectItems value="#{formRegisterBean.sexes}" var="sex"
                                       itemValue="#{sex}"/>
                    </h:selectOneMenu>
                </div>


                <br/>

                <h6>Nom d'utilisateur</h6>
                <h:inputText styleClass="form-control" id="login" value="#{formRegisterBean.userId}" required="true"
                             requiredMessage="Merci de saisir votre nom d'utilisateur"
                             placeholder="Nom d'utilisateur"/>

                <br/>

                <h6>Mot de passe</h6>
                <h:inputSecret styleClass="form-control" id="password" value="#{formRegisterBean.userPassword}" required="true"
                               requiredMessage="Merci de saisir votre mot de passe"
                               placeholder="Mot de passe"/>
                <h:message for="password" styleClass="error"/>
                <br/>

                <h6>Association</h6>
                <h:inputText styleClass="form-control" id="assoc" value="#{formRegisterBean.assocName}" required="true"
                               requiredMessage="Merci de saisir votre mot de passe"
                               placeholder="Mot de passe"/>
                <h:message for="password" styleClass="error"/>

                <br/>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <h:commandButton styleClass="btn btn-primary" value="S'inscrire" action="#{formRegisterBean.register}"/>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-secondary" href="homeVisitor.xhtml">Annuler</a>
                    </div>
                </div>
            </h:form>

        </div>

    </div>
</h:body>
</html>